* {
font-family: "Poppins", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-image:  url( ./img/1531251_stock-photo-vector-abstract-black-and-white-bookshelf\ \(1\).jpg);
    opacity: 100;
}

 .logo-image {
    width: 700px;
    margin-bottom: 5;
    display: inline-block;
    margin-top:44px;
    margin-left: 125px;
 }
 
 section {
    display: inline-block;
    margin-left: 100px;
    margin-top: 0px;
}

h1 {
    color: #161A49;
    font-size: 100px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
        
}

h2 {
    color: #222658;
    font-size: 60px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    margin-left: 150px;
}

 header {
        margin-left: 100px;
        display: inline-block;
        cursor: pointer;
    }

 a:hover {
    color: aqua;
 }

.link-header {
    color: #03153d;
    font-weight: 600;
    line-height: normal;
    font-size: 35px;
    margin-right: 30px;
    
}

button {
    background: #17233D;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
    border-radius: 40px;
    border: none;
    width: 190px;
    height: 60px;
    margin-right: 23px;
    cursor: pointer;
}
button:hover {
    background: aqua;
    color: #17233D;
}

h3 {
    color: #222658;
    font-size: 150px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    margin-left: 700px;
}

img {
    width: 2000px;
    margin-top: 60px;
    margin-left: 355px;
}
.class-2 {
    margin-top: 250px;
    position: static;
}
